@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
}

h1 {
  @apply text-xxl font-bold;
}

h2 {
  @apply text-xl text-orange-500 font-bold;
}

h3 {
  @apply text-m text-gray-700 font-bold;
}

p {
  @apply text-sm text-gray-700 font-normal;
}

th,
td {
  @apply text-left border border-gray-300 p-2 text-sm text-gray-800 font-normal;
}

tr {
  @apply bg-gray-100;
}

.common-box {
  @apply block m-2 w-[160px] h-[200px] pt-4 p-2 border-none rounded-xl shadow-custom-light;
}

.common-box:hover {
  @apply bg-gray-200;
}

.nav-link {
  color: #333333;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem;
}

.nav-link:hover {
  color: #000000;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 1rem;
}

.main-Imgbox {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.group:hover .main-Imgbox {
  opacity: 1;
  transition: 0.6s ease;
}

.dark {
  --background: rgb(1, 10, 19);
}

.dark h1 {
  @apply text-xxl font-medium;
}

.dark h2 {
  @apply text-xl text-gold font-bold;
}

.dark h3 {
  @apply text-m text-gray-200 font-bold;
}

.dark main {
  @apply text-sm text-gray-300 font-medium leading-7;
}

.dark p {
  @apply text-sm text-gray-300 font-normal;
}

.dark th,
.dark td {
  @apply text-left border border-gray-800 p-2 text-sm text-gray-200 font-normal;
}

.dark tr {
  @apply bg-gray-900;
}
.dark .common-box {
  @apply block m-2 w-[160px] h-[200px] pt-4 p-2 border-none rounded-xl shadow-custom-dark;
}

.dark .common-box:hover {
  @apply bg-gray-900;
}

.dark .nav-link {
  color: #bbbbbb;
}

.dark .nav-link:hover {
  color: #ffffff;
  background-color: rgba(1, 10, 19, 0.4);
  border-radius: 1rem;
}

.dark .slick-dots {
  display: flex;
  justify-content: center;
}

.dark .slick-dots li button:before {
  color: white;
  opacity: 0.2;
}

.dark .slick-dots li.slick-active button:before {
  color: white;
  font-size: 6px;
  opacity: 1;
}
